@page "/chooseSkills"
@using WebClient.Components.Layout
@inject NavigationManager Navigation
@layout NoMenuLayout

<div class="main">
    <h1>Виберіть навички, яким хочете навчитися</h1>
    <input class="skill-search" type="text" placeholder="Пошук навички...">
    <div class="skills">
        @foreach (var skill in skills)
        {
            <div class="skill-check-container">
                <input class="skill-check" type="checkbox">
                <p>@skill</p>
            </div>
        }
    </div>
    <button @onclick="calendarNavigate">Зареєструватися</button>
        
</div>

@code {
    private string[] skills = { "Python", "C#", "JavaScript", "HTML", "CSS" };
    private void calendarNavigate()
    {
        Navigation.NavigateTo("/calendar");
    }
}