@page "/Index"
@using Libraries.Contracts.User
<h3>Index</h3>

@code {
    #pragma warning disable CS8618
    [Inject]
    protected HttpClient HttpClient { get; set; }
    #pragma warning restore CS8618
    
    private List<UserDto>? _posts = null;
    
    protected override async Task OnInitializedAsync()
    {
        //_posts = await HttpClient.GetFromJsonAsync<List<Post>?>(ApiEndpoints.PostsAll);

        Console.WriteLine($"Found {_posts?.Count} posts!");
    }
}