@page "/login"
@using WebClient.Components.Layout
@inject NavigationManager Navigation
@layout NoMenuLayout

<div class="main">
    <h1>Share</h1>
    <div class="info">
        <div class="input-info">
            <input type="text" class="main-input" placeholder="Login">
            <input type="text" class="main-input" placeholder="Password">
        </div>

        <button class="login-btn" @onclick="CalendarNavigate">Log in</button>
    </div>
</div>

@code 
{
    private void CalendarNavigate()
    {
        Navigation.NavigateTo("/calendar");
    }
}
