@page "/"
@using WebClient.Components.Layout
@inject NavigationManager Navigation
@layout NoMenuLayout

<div class="main">
    <h1>Share</h1>
    <div class="info">
        <div class="input-info">
            <input type="text" class="main-input" placeholder="Name">
            <input type="text" class="main-input" placeholder="Surname">
            <input type="text" class="main-input" placeholder="Email">
            <input type="text" class="main-input" placeholder="Password">
        </div>
        <div class="switch-btn">
            <p>Student</p>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <p>Teacher</p>
        </div>
        <button class="next-btn" @onclick="nextNavigate">Next</button>
        <div class="login-link">
            <a @onclick="loginNavigate">Log in</a>
        </div>

    </div>
</div>

@* @if (tasks != null)
{
    <ul>
        @foreach (var task in tasks)
        {
            <li>
                <input type="checkbox" disabled="@task.completed" /> @task.title
            </li>
        }
    </ul>
}
else
{
    <p>Loading...</p>
} *@

@code {
private TaskModel[]? tasks;

@* protected override async Task OnInitializedAsync()
    {
        try
        {
            // Выполняем GET-запрос к серверу
            tasks = await httpClient.GetFromJsonAsync<TaskModel[]>("https://pojwct.free.beeceptor.com/todos");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    } *@

public class TaskModel
{
public int id { get; set; }
public string? title { get; set; }
public bool completed { get; set; }
}

private void nextNavigate()
{
Navigation.NavigateTo("/chooseSkills");
}

private void loginNavigate()
{
Navigation.NavigateTo("/login");
}

}
