@page "/lesson/{id}"
@using MobileClient.Services
@inject NavigationManager Navigation
@inject HttpClient httpClient
@inject CalendarService CalendarService

<div class="main">
    @if (participant != null && meeting != null)
    {
        <div class="title">
            <svg @onclick="goBack" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
            <p>@meeting.Name</p>
            <div class="blank"></div>
        </div>

        <div class="content">
            <div class="block">
                <p class="text-info">Participant:</p>
                <p class="text-value">@participant.Name @participant.Surname</p>
            </div>

            <div class="block">
                <p class="text-info">Time:</p>
                <p class="text-value">@meeting.DateTime.ToString("HH:mm")</p>
            </div>

            @* <div class="block">
                <p class="text-info">Посилання:</p>
                <a class="text-value" href="#">Приєднатися</a>
            </div> *@
        </div>

        <button class="cancel" @onclick="CancelMeeting">cancel</button>
    }
    else 
    {
        <p>loading...</p>
    }
</div>


@code {
    [Parameter]
    public required string Id { get; set; }

    private Meeting meeting;
    private User participant;

    protected override async Task OnInitializedAsync()
    {
        var result = await CalendarService.GetMeetingInfo(Id, Preferences.Get("userRole", string.Empty));
        meeting = result.Value.meeting;
        participant = result.Value.teacher;

    }

    private async Task CancelMeeting()
    {
        try
        {
            var response = await httpClient.DeleteAsync($"http://localhost:5115/meetings/{Id}");
            //TODO: обработать, когда запрос выполнен успешно
            if (response.IsSuccessStatusCode)
            {
                Console.WriteLine($"deleted meeting with id: {Id}");
                this.goBack();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    public void goBack() {
        Navigation.NavigateTo("/calendar");
    }
}