@page "/login"

<div class="main">
    <h1>Навички Share</h1>
    <div class="info">
        <div class="input-info">
            <input type="text" class="main-input" placeholder="Логін">
            <input type="text" class="main-input" placeholder="Пароль">
        </div>

        <button class="login-btn">Увійти</button>
    </div>
</div>