@page "/registration"
@inject IStringLocalizer<Registration> localizer
<div class="main">
        <h1>Навички Share</h1>
        <h1>@localizer["test_string"]</h1>
        <div class="info">
            <div class="input-info">
                <input type="text" class="main-input" placeholder="asd">
                <input type="text" class="main-input" placeholder="Прізвище">
                <input type="text" class="main-input" placeholder="email">
                <input type="text" class="main-input" placeholder="Пароль">
            </div>
            <div class="switch-btn">
                <p>Учень</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <p>Вчитель</p>
            </div>
            <button class="next-btn">Далі</button>
            <div class="login-link">
                <p>вже зареєстровані?</p>
                <a href="">увійти</a>
            </div>
    
        </div>
    </div>