<div class="main">
    <div class="nav-item">
        <NavLink class="nav-link" href="calendar">
            <img class="icon" aria-hidden="true" src="https://image.shutterstock.com/image-vector/dotted-spiral-vortex-royaltyfree-images-600w-2227567913.jpg">
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink class="nav-link" href="search">
            <img class="icon" aria-hidden="true" src="https://image.shutterstock.com/image-vector/dotted-spiral-vortex-royaltyfree-images-600w-2227567913.jpg">
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink class="nav-link" href="cabinet">
            <img class="icon" aria-hidden="true" src="https://image.shutterstock.com/image-vector/dotted-spiral-vortex-royaltyfree-images-600w-2227567913.jpg">
        </NavLink>
    </div>
</div>